<%- for property in properties -%>
  <%- if property.type === 'string' -%>
<div class="form-group">
  <label for="<<property.name>>"><<property.name | title>>:</label>
  <input type="text" class="form-control" id="<<property.name>>" data-ng-model="<<modelName>>.<<property.name>>">
</div>
<%- endif -%>
<%- if property.type === 'number' -%>
<div class="form-group">
  <label for="<<property.name>>"><<property.name | title>>:</label>
  <input type="number" class="form-control" id="<<property.name>>" data-ng-model="<<modelName>>.<<property.name>>">
</div>
<%- endif -%>
<%- if property.type === 'date' -%>
<div class="form-group">
  <label for="<<property.name>>"><<property.name | title>>:</label>
  <input type="date" class="form-control" id="<<property.name>>" data-ng-model="<<modelName>>.<<property.name>>">
</div>
<%- endif -%>
<%- endfor -%>
<button type="submit" class="btn btn-default">Submit</button>
