<div data-ng-controller="<<modelPlural | title>>Controller">
  <div class="row">
    <div class="col-md-6">
      <h1>Create <<modelSingular>></h1>
      <form role="form-horizontal" role="form" ng-submit="create()">
        <div ng-include="'<<modelPlural>>/views/crud/_form.html'"></div>
      </form>
    </div>
  </div>
</div>
