<h1><<modelPlural | title>></h1>
<div data-ng-controller="<<modelPlural | title >>Controller" data-ng-init="find()">
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <% for property in properties -%>
          <th><<property.name>></th>
        <%- endfor %>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="<<modelName>> in <<modelPlural>>">
        <% for property in properties -%>
          <% if loop.first %><td><a data-ng-href="/<<modelPlural>>/<<startBarc>><<modelName>>._id<<endBrac>>"><<startBrac>><<modelName>>.<<property.name>><<endBrac>></a></td><% endif %>
          <td><< startBrac >><< modelName >>.<< property.name >><<endBrac >></td>
        <%- endfor %>
        <td>
          <a data-ng-href="/<<modelPlural>>/<<startBrac>><<modelName>>._id<<endBrac>>/edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
