<div data-ng-controller="<<modelPlural | title>>Controller" data-ng-init="findOne()">
  <div class="row">
    <div class="col-md-6">
      <% for property in properties -%>
        <div class="form-group">
          <label for="<<property.name>>"><<property.name | title>>:</label>
          <<startBrac>><<modelName>>.<<property.name>><<endBrac>>
        </div>
      <%- endfor %>
      <a class="btn" href="/<<modelPlural>>/{{<<modelName>>._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </div>
  </div>
</div>
